## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [14]:
import datetime
today = datetime.datetime.today().replace(microsecond=0)
print(today)

2021-08-11 12:16:10

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [15]:
from math import pi
radius = float (input("Enter the radius:"))
print("The area of the circle is:"+str(pi*radius**2))

Enter the radius:10
The area of the circle is:314.1592653589793

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [31]:
def list_checker(list):
    if len(list)==len(set(list)):
        return True
    else:
        return False
input_list=[2,4,5,5,7,9]
print(list_checker(input_list))

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'horse-racing.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'T': 52, 'H': 42, 'E': 95, ' ': 167, 'A': 62, 'L': 42, 'N': 61, 'O': 58, 'M': 19, 'S': 58, 'C': 25, 'P': 16, 'I': 41, 'V': 10, 'U': 28, 'R': 61, 'D': 35, 'G': 9, '1': 8, 'W': 13, 'F': 12, 'Y': 12, '.': 8, 'B': 6, '2': 10, '4': 2, '(': 1, ',': 8, '0': 10, '3': 2, ')': 1, 'J': 1, 'K': 2, '\n': 4, "'": 3, '[': 1, ']': 1, '7': 1, '8': 1, '9': 2}`

In [32]:
import collections
import pprint
text_file_path = 'data/horse-racing.txt'
with open(text_file_path, 'r') as info:
    count = collections.Counter(info.read().upper())
    value = pprint.pformat(count)
print(value)

Counter({' ': 167,
         'E': 95,
         'A': 62,
         'N': 61,
         'R': 61,
         'O': 58,
         'S': 58,
         'T': 52,
         'H': 42,
         'L': 42,
         'I': 41,
         'D': 35,
         'U': 28,
         'C': 25,
         'M': 19,
         'P': 16,
         'W': 13,
         'F': 12,
         'Y': 12,
         'V': 10,
         '2': 10,
         '0': 10,
         'G': 9,
         '1': 8,
         '.': 8,
         ',': 8,
         'B': 6,
         '\n': 4,
         "'": 3,
         '4': 2,
         '3': 2,
         'K': 2,
         '9': 2,
         '(': 1,
         ')': 1,
         'J': 1,
         '[': 1,
         ']': 1,
         '7': 1,
         '8': 1})

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [40]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
fourth_number = list1[3]
last_number = list1[-1]
fourth_number_delete = list1.pop(3)
new_number = fourth_number*last_number
list1.append(new_number)
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [63]:
new_list=[]
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
def divisible(original):
    for i in original_list:
        if i%3==0:
            new_list.append(i) 
divisible(original_list)
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [64]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list.reverse()
print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [67]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = []
for i in original_list:
    new_list.append(i**2)
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [97]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()

print("Expected Output:",'\n')

for x, y in zip(list1, list2):
    print('   ',x, y, sep=' ')

Expected Output:

    10 400
    20 300
    30 200
    40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [1]:
list_of_strings = ['I', 'love', '',data', '', 'science', '!']
for i in list_of_strings:
    if i=='':
        list_of_strings.remove(i)
    for j in list_of_strings:    
        if j=='':
            list_of_strings.remove(j)
print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [119]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}
value=999
if value in sample_dict.values():
    print(True)
else:
    print(False)

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [2]:
import pandas as pd
df = pd.read_csv('data/titanic.csv')
print(df)

     passengerid  survived  pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  name     sex   age  sibsp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     parch            ticket     fare cabin embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [3]:
print(df['age'].mean())

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [5]:
print("The oldes age on the titanic was",df["age"].max(), "and the youngest age was", df["age"].min())

The oldes age on the titanic was 80.0 and the youngest age was 0.42

## How many people embarked from station 'S'?

In [6]:
len(df[df['embarked'] == 'S'])

644